@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ---------------------------------------------------------------------------------------------------
Index.html 
-----------------------------------------------------------------------------------------------------*/

*{font-family: 'Roboto';
}

body{
    overflow-x: hidden;
    width: 100%;
    font-family: 'Roboto';
}

.contenido-body{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    font-family: 'roboto';
}
#cuerpo{
    margin: 10px auto;
    width: 90%;
    z-index: -1;


}
.descripcion h3{
    margin: 1em;
    font-size: 2em;
    text-align: center;
}
.descripcion p{
    margin: 1em;
    font-size: 2em;
    text-align: justify;
}
/***************** Estilos Menú****************************/
/**********************************************************/
header{
    background: #0d1321;
    color: #ebebd3;
    padding-top: 0;
    position: relative;
}

header::after{
    content: '';
    clear: both;
    display: block;
}
.logo{
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
   
    
}
.logo_main{
    height: 200px;
    padding: 20px;
    background: #FEF5EF;
    color: black;
    cursor: default;  
}
#imagen_logo{
  width: 200px; height: 200px;
}
.site-nav{
    top:100%;
    right:0;
    position: absolute;
    background: #464655;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
    z-index: 1;
    font-family: 'Roboto';
}
.site-nav-open{
    clip-path: circle(150% at top right);
}
.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: -1;
}
.site-nav li{
    border-bottom: 1px solid #575766;
}
.site-nav li:last-child{
    border-bottom: none;
}
.site-nav a{
    color: #ebedb3;
    display: block;
    padding: 2em 6em;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
}
.site-nav a:hover,
.site-nav a:focus{
    background: #797062;
    color: #464655;
}
.site-nav--icon{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}
.menu-toggle{
   
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;   
}
.menu-open .hamburger{
    transform: rotate(45deg);
}
.menu-open .hamburger::before{
    opacity: 0;
}
.menu-open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}
.hamburger,
.hamburger::before,
.hamburger::after{
    content: '';
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
.hamburger::before{
    transform: translateY(-6px);
}
.hamburger::after{
    transform: translateY(3px);
}
@media screen and (max-width:936px){
  
	.site-nav ul{
		padding: 0;
	}
	.site-nav ul li{
		margin-right: -3px;
		/*display: inline-block;*/
		text-align: center;
		width: 50%;
	}
	.site-nav li a{
		display: list-item;
    }
    .logo_main {
        padding: 20px;
        background: #0d1321;
        color: white;
        cursor: pointer;
        height: auto;
    }
}
@media (min-width:700px){
  #imagen_logo{
    width: 150px;
    height:150px;

  }

  .menu-toggle{
      display: none;
  } 
  .site-nav{
      height: auto;
      position: relative;
      background: transparent;
      float: right;
     /* margin-right: 10px;*/
      clip-path: initial;
  } 
  .site-nav li{
      display: inline-block;
      border: none;
  }
  .site-nav a{
      padding: 1em;
      width: 100%;
      /*margin-left: 1em;*/
  }
  .site-nav--icon{
      display: none;
  }
  .site-nav a:hover,
  .site-nav a:focus{
      background: transparent;
  }
  
}
@media (max-width:700px){
  #imagen_logo{
    width: 100px;
    height:100px;
   
  }

}
@media (max-width:480px){

  #imagen_logo{
    width: 50px;
    height:50px;
    
  }
    .descripcion h3{
        margin: .5em;
        font-size: 1.5em;
    }
    .descripcion p{
        margin: .5em;
        font-size: 1.5em;
    }
}
/***************** Estilos Slider****************************/
/**************************************************************/
@font-face {
    font-family: 'flexslider-icon';
    src: url('fonts/flexslider-icon.eot');
    src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') 
    format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  *{
      margin: 0;
      padding: 0;
  }
  
  .flexslider{
      width: 100%;
      position: relative;
  }
  
  .slides{
      overflow: hidden;
  }
  
  .slides img{
      width: 100%;
  }
  
  .slides,
  .flex-control-nav,
  .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .flex-control-nav{
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 5%;
      z-index: 999;
  }
  
  .flex-control-nav li{
      display: inline-block;
      margin: 0 6px;
  }
  
  .flex-control-nav li a{
      display: block;
      background: #777777;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      text-indent: -9999px;
  }
  
  .flex-control-nav li a:hover{
      background: #2E2E2E;
  }
  
  .flex-control-nav li a.flex-active{
      background: #2E2E2E;	
  }
  
  .flex-direction-nav a{
      display: block;
      text-decoration: none;
      position: absolute;
      top: 50%;
      z-index: 999;
      width: 40px;
      height: 40px;
      overflow: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .flex-direction-nav .flex-prev{
      left: 0;
  }
  
  .flex-direction-nav .flex-next{
      right: 0;
  }
  
  .flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
    color: #fff;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  }
  .flex-direction-nav a.flex-next:before {
    content: '\f002';
  }
  
  .flex-caption p{
      font-family: Lato;
      position: absolute;
      top: 5%;
      left: 5%;
      text-align: left;
      /* width: 100%; */
      font-size: 35px;
      color: rgba(255, 255, 255, 0.39);
      font-weight: bold;
  }
  
  .flexslider:hover .flex-direction-nav .flex-prev{
      opacity: 0.7;
      left: 10px;
  }
  
  .flexslider:hover .flex-direction-nav .flex-prev:hover{
      opacity: 1;
  }
  
  .flexslider:hover .flex-direction-nav .flex-next{
      opacity: 0.7;
      right: 10px;
  }
  
  .flexslider:hover .flex-direction-nav .flex-next:hover{
      opacity: 1;
  }


/***************Estilos Footer**********************************/
/**************************************************************/
.master_footer{
    background-color: #0d1321;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.enlaces_contenido li {
    list-style: none;
    padding: .1em;
}
.enlaces_contenido a{
    color: #d0dde0;
    text-decoration: none;
}
.redes_sociales{
    margin: 35px 0;
}
.redes_sociales a{
    color: #d0dde0;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
  .redes_sociales a:hover{
    color: #fc5c65;
  }
@media (max-width:699px){
    .enlaces_contenido
    {
        display: none;
    }
    .master_footer{
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }.redes_sociales{
        margin: 10px 0;
    }
}
/**********************Fin Estilos Footer**************************/
/******************************************************************/

/*
.enlaces_contenido{
    
    width: 50%;
}
.redes_sociales{
    
    width: 50%;

}*/


/* ---------------------------------------------------------------------------------------------------
quienes.html 
-----------------------------------------------------------------------------------------------------*/
#cuerpo-acordeon{
    align-content: flex-end;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
}
#descripcion{
    width: 90%;
    margin: 20px auto;
}
.secundarios{
    display: flex;
}
/* 
/* ---------------------------------------------------------------------------------------------------
login.html
-----------------------------------------------------------------------------------------------------*/


/*estilo de los botones*/
button {
  background-color: #D6E3F8;
  color: #0D1321;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  z-index: -1;
}


button:hover {
  opacity: 0.8;
} 

/* estilo boton cancelar */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #9D5C63;
}

/* imagen centrada y cierre */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  background-color:#D6E3F0";
}

span.pass {
  float: right;
  padding-top: 16px;
}



/* el Modal (background) */
.modal {
  display: none; /* oculto por defecto */
  position: fixed; 
  z-index: 1; /* arriba */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* se puede hacer scroll */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5); /* fondo con opacidad */
  padding-top: 60px;
}

/* caja del Modal */
.modal-content {
  background-color: #0D1231;
  margin: 5% auto 15% auto; /* arriba y abajo respectivamente*/
  border: 1px solid #D6E3F0;
  width: 30%; 
  color:#D6E3F0;
  z-index: 4;
}

/* el boton de cierre (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #D6E3F0;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

/* animación de entrada */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* cambio de estilo para pantallas pequeñas */
@media screen and (max-width: 300px) {
  span.pass {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
} 

/* ---------------------------------------------------------------------------------------------------
logout.tml  
-----------------------------------------------------------------------------------------------------*/

#logout_section{
    display:center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    width: 100%; 
  }
  
  #logout_div{
    text-align: center;
    width: 100%;
  }

  /* ---------------------------------------------------------------------------------------------------
clientes.html  
-----------------------------------------------------------------------------------------------------*/

#clientes_section{
    margin-top: 1px;
    text-align: center;
    display:flex;
    flex-direction: column;
    width:80%;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'roboto';
  }

  .responsive{
    margin:10px;
    width: 50%;
    height:50%;
  }

  #clientes_img{
    margin: auto;
  }

  #clientes_p{
    text-align: center;
    font-family: 'roboto';
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px; 
  }
  

  /* ---------------------------------------------------------------------------------------------------
formulario.html
-----------------------------------------------------------------------------------------------------*/

     #boton {
    background-color: #D6E3F8;
    color: #0D1321;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 18%;
    }

    .fieldset{
    padding: 50px 50px 50px 50px;
    }

    body_form{
        padding: 50px 50px 50px 50px;

    } 

  .error{
    color: red;
  }
  .cmxform{
    /* background: #24303c; 
    color: white;  */
    width: 100%;
    height: 100%;
    margin-top: 30px;
  }

  #formulariotittulo{
    
    text-align: center;
  }


  .caja{
    background: #24303c;
    color: white;
  }



  /* animación de entrada */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}

/* cambio de estilo para pantallas pequeñas */
@media screen and (max-width: 300px) {
span.pass {
   display: block;
   float: none;
}
.cancelbtn {
   width: 100%;
}
}


/* ---------------------------------------------------------------------------------------------------
como.html
-----------------------------------------------------------------------------------------------------*/

#body_como{
  width: 80%;
  margin: 0 auto;
  font-family: 'Roboto';
  }

  /* .wizard, .tabcontrol {
    display: block;
    width: 100%;
    overflow: hidden;
  
  color:rgb(25, 57, 84);
  display:block;
  font-family:'Roboto', sans-serif;
  font-size:14px;
  height:538px;
  line-height:21px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  overflow-x:hidden;
  overflow-y:hidden;
  padding-bottom:0px;
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
  text-size-adjust:100%;
  width:945px;
  } */

/*

.wizard>.steps .current a, .wizard>.steps .current a:hover, .wizard>.steps .current a:active {
  background: #0D1321;
  color: #D6E3F8;
  cursor: default;
}

.wizard>.steps a:hover, .wizard>.steps a:active {
  line-height: 1.5em;
  display: block;
  width: auto;
  margin: 0 .5em .5em;
  padding: 1em 1em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px
}

.wizard>.content>.body {
  float: left;
  position: absolute;
  width: 95%;
  height: 95%;
  padding: 2.5%;
}

.wizard, .tabcontrol {
  display: block;
  width: 100%;
  overflow: hidden;
}
*/

/* ---------------------------------------------------------------------------------------------------
beneficios.html
-----------------------------------------------------------------------------------------------------*/
#example-tabs{
  font-family: 'Roboto';
  }

/* ---------------------------------------------------------------------------------------------------
incidentes.html
-----------------------------------------------------------------------------------------------------*/
form-register{
margin-top: 50px;
margin-bottom: 50px;
}



/* ---------------------------------------------------------------------------------------------------
hacemos.html
-----------------------------------------------------------------------------------------------------*/
#cuerpo-hacemos{
  align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}
.secundarios-hacemos{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.articulo-hacemos{
  width: 22%;
  height: 100%;
  justify-content: center;
  margin-bottom: 10px;
  padding: 8px;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 8px;
}
.btn-1, .btn-2, .btn-3, .btn-4 {
  margin: 10px auto;
  width: 70px;
  height: auto;
  border-radius: 5px;
  padding: 15px 10px;
  color: white;
}
.btn-1{
  background-color: #FF0A17;
}
.btn-2{
  background-color: #FF8F00;
}
.btn-3{
  background-color: #00DE52;
}
.btn-4{
  background-color: #1600DE;
}
.btn a:hover{
  background-color: #5C8688;
}
@media screen and (max-width: 700px){
  #menu ul{
    padding: 0;
  }
  #menu ul li{
    margin-right: -3px;
    display: inline-block;
    text-align: center;
    width: 50%;
  }
  #menu li a{
    display: list-item;
  }

  .secundarios-hacemos{
    flex-wrap: wrap;
  }
  .articulo-hacemos{
    width: 45%;
  }
}
@media screen and (max-width: 480px){
  #menu ul li{
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .descripcion{
    width: 100%;
  }
  .cuerpo-hacemos{
    flex-direction: column;
  }
  .secundarios-hacemos{
    width: 100%;
    flex-direction: column;
  }
  .articulo-hacemos{
    width: 100%;
  }
}